.btn-color-theme{
    font-family: 'californian fb', cursive;
    color: white;
    background-color: #25232b;
    margin-left: 640px;
}
.navbar-brand{
    font-family: 'californian fb', cursive;
}
.card-text{
    font-family: 'californian fb', cursive;
}
.text-center{
    font-family: 'californian fb', cursive;
}.last{
    font-family: 'californian fb', cursive;
}