p {
    font-family: sans-serif;
    line-height: 1.75em;
}
i{
    font-family: sans-serif;
    color: orange;
}
h2 {
    font-family: sans-serif;
    color: #333;
}

/** Tag <link> untuk menghubungkan html dan css (biasanya dimasukan di file html) **/
<link rel="stylesheet" type="text/css" href="style-ku.css">

/**Atau bsia juga menggunakan @import **/
<style type="text/css">
@import "style-ku.css"
</style>